.App {
  font-family: sans-serif;
  text-align: center;
}

.iinnnpuuut {
  opacity: 0;
}

.react-ios-time-picker-popup {
  height: var(--tg-viewport-stable-height, 100vh);
}

.react-ios-time-picker-popup-overlay {
  pointer-events: none;
}

body,
html {
  background: #f8f8f8;
  height: 400px;
}
